@model Buyer

@{
    ViewData["Title"] = "Добавить";
}

    <h1>Добавить покупателя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBuyer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control form-control-user" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control form-control-user" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportId" class="control-label"></label>
                <input asp-for="PassportId" class="form-control form-control-user" placeholder="00XX0000000X" />
                <span asp-validation-for="PassportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="ShowBuyers" class="btn btn-danger btn-circle"><i class="fas fa-arrow-left"></i></a>
                <button type="submit" class="btn btn-success btn-circle"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
